{% extends "base.jinja" %}
{% block css %}<link rel="stylesheet" type="text/css" href="/static/styles/styles.css"{% endblock %}
{% block title %}Distribuco{% endblock %}
{% block content %}
<div class="drink-menu-container">
  {% for drink in drinks %}
    {% if loop.index0 % 3 == 0 %}
      <div class="row"> <!-- DIV -->
    {% endif %}
        <form id="pump-{{ loop.index }}" action="/pumps" method="POST">
          <input type="hidden" name="total" value="{{ drink.drink.volumeTotal }}">
          <input type="hidden" name="pump-1" value="{{ drink.drink.boisson_ml_1 }}">
          <input type="hidden" name="pump-2" value="{{ drink.drink.boisson_ml_2 }}">
          <input type="hidden" name="pump-3" value="{{ drink.drink.boisson_ml_3 }}">
          <input type="hidden" name="pump-4" value="{{ drink.drink.boisson_ml_4 }}">
          <div class="drink-tile-item">
            <p>{{ drink['name'] }} [{{ (loop.index - 1) % 3 + 1 }}]</p> <!-- Modulo 3 pour avoir un maximum de 3-->
            <i class="fa-solid fa-whiskey-glass fa-10x" style="padding:15px; color:{{ drink.couleur }};"></i>
          </div>
          <input type="submit" value="Distribuer">
        </form>
    {% if loop.index0 % 3 == 2 or loop.last %}
      </div> <!-- DIV -->
    {% endif %}
  {% endfor %}
{% endblock %}
