{% extends "base.jinja" %}
{% block title %}Distribuco{% endblock %}
{% block content %}


<div class="context">
    <h1>Distribuco</h1>
    <div class="blink">Veuillez scanner une carte pour commencer</div>
</div>

<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >

{% endblock %}