{% extends "base.jinja" %}
{% block title %}Distribuco{% endblock %}^
{% block nav %}
  <li><a href="/logout">Déconnexion</a></li>
{% endblock %}
{% block content %}
  </head>
  <body>
    <h1>Créateur de boissons</h1>
  <div class="nom-container">
    <form class="ajout-slider-container" action="/creation-boisson" method="POST">
    <span>Nom</span>
    <input type="text" placeholder="Nom de la boisson" name="nom">
  </div>
      <div class="slider-container">
      <div class="bar-container">
        <span class = "ingredient-nom">Quantité Totale</span>
        <input type="range" min="0" max="100" value="50" class="slider-total" name="total">
        <div class="background-bar"></div>
        <div class="bar" style="background-color: rebeccapurple; width: 50%;"></div>
      </div>
    </div>

    {% for ingredient in ingredients %}
    <div class="slider-container">
      <div class="circle-container">
        <div class="outer-circle" style="background-color: {{ingredient.couleur}}">
          <div class="inner-circle">
            <input type="hidden" name="pourcentage_{{ingredient.pompe}}" value="25" class="pourcentageForm">
            <span class="pourcentage">25%</span>
          </div>
        </div>
        <span class = "ingredient-nom">{{ ingredient['nom'] }}</span>
      </div>
      <div class="bar-container">
        <input type="range" min="0" max="100" value="25" class="slider" name="boisson_{{ingredient.pompe}}">
        <div class="background-bar"></div>
        <div class="bar" style="background-color: {{ingredient.couleur}}; width: 25%;"></div>
      </div>
      <div class="input-container">
        <input type="number" step="any" value="25"> <!-- 'Step any' pour accepter les nombres flottants -->
        <span>mL</span>
        <input type="number" step="any" value="25">
        <span>oz</span>
      </div>
    </div>
    {% endfor %}
    <input type="submit" value="Soumettre">
  </form>
   <script>
    </script>
{% endblock %}