<!--       --- Documentation utilisée pour le projet ---
* https://youtube.com/playlist?list=PLzMcBGfZo4-n4vJJybUVV3Un_NFS5EOgX  flask
* https://jinja.palletsprojects.com/en/3.0.x/                           jinja2
* https://www.w3schools.com/csS/css3_flexbox.asp                        flexbox
*                                                                       json
* https://www.w3schools.com/                                            html/css
-->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles/ajout.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles/topt.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles/PageAnimation.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="swup"> <!-- Conteneur mis à jour par Swup -->
      <header>
        <nav>
          <ul>
            <li class="logo">Distribuco</li>
            {% block nav %}{% endblock %}
          </ul>
        </nav>
      </header>
      <main class="transition-fade">
        {% block content %}{% endblock %}
      </main>
      <footer>
        <p>Distribuco par <a href="https://github.com/getlabbed">Yanick Labelle</a> 2023</p>
      </footer>
    </div>
    <script src="/static/scripts/ajout.js"></script>
    <script src="/static/scripts/topt.js"></script>
    <script src="https://kit.fontawesome.com/462d776b32.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swup@3.0.5/dist/Swup.umd.js" crossorigin="anonymous"></script>
    <script src="/static/scripts/PageAnimation.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/scripts/extern/jqColorPicker.min.js"></script>
    <script src="/static/scripts/colors.js"></script>
  </body>
</html>