{% extends "base.jinja" %}
{% block title %}Distribuco{% endblock %}
{% block nav %}
  <li><a href="/logout">Déconnexion</a></li>
  <li><a href="/link-card">Lier une carte</a></li>
{% endblock %}
{% block content %}
<h1>Boissons disponibles</h1>
<div class="drink-menu-container">
  {% for drink in drinks %}
      <div class="drink-tile-item">
          <p>{{ drink['name'] }}</p>
          <i class="fa-solid fa-whiskey-glass fa-8x" style="padding:15px; color:{{ drink.couleur }};"></i>
      </div>
  {% endfor %}
  <div class="drink-tile-item">
    <a href="ajout">
      <p>Créer une boisson</p>
      <i class="fa-solid fa-circle-plus fa-8x"></i>
    </a>
  </div>
</div>
{% endblock %}
