{% extends "base.jinja" %}
{% block title %}Distribuco{% endblock %}
{% block content %}
<div id="otp">
    <h1>Lier une carte à la machine</h1>
   <form action="">
        <span>Code OTP</span>
        <input type="number" placeholder="Ex: 123456" name="otp">
        <input type="submit" value="Soumettre">
   </form>
</div>  
{% endblock %}