<!--
  Page de connexion du site distribuco, permet de se connecter à l'aide de son compte Google.
-->
{% extends "base.jinja" %}
{% block title %}Distribuco{% endblock %}
{% block nav %}
  <li><a href="/login">Connexion</a></li>
{% endblock %}
{% block content %}
<div></div>
{% endblock %}